<div class="welcome-container">
  <div *ngIf="step === 1">
    <!-- Step 1 Fields -->
    <div class="spacer">
      <h2>Create Account</h2>
    </div>

    <div class="line-container">
      <p class="horizontal-line" style="background-color: #0069D1;"></p>
      <p class="horizontal-line" style="background-color: #CFD0D4;"></p>
    </div>
  
    <label for="email">Enter Email ID</label>
    <span *ngIf="!user.email && submitted" class="error-message"> *Email is required</span>
    <input id="email" [(ngModel)]="user.email" [ngClass]="{'error-input': !user.email && submitted}" type="text" placeholder="Loremipsum@gmail.com" required>
    

    <label for="name">Enter Full Name</label>
    <span *ngIf="!user.name && submitted" class="error-message"> *Name is required</span>
    <input id="name" [(ngModel)]="user.name" [ngClass]="{'error-input': !user.name && submitted}" type="text" placeholder="Full name" required>
    

    <label for="password">Create Password</label>
    <span *ngIf="!user.password && submitted" class="error-message"> *Password is required</span>
    <input id="password" [(ngModel)]="user.password" [ngClass]="{'error-input': !user.password && submitted}" type="password" placeholder="password" required>
    

    <button (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="step === 2">
    <!-- Step 2 Fields -->
    <div class="step2-content">
      <button (click)="back()" class="back-button">↩ Go Back</button>
      
      <div class="step2-heading">
        <h2>Create Account</h2>
      </div>

      <div class="line-container">
        <p class="horizontal-line" style="background-color: #0069D1;"></p>
        <p class="horizontal-line" style="background-color: #0069D1;"></p>
      </div>

      <label for="organization">Organization Name</label>
      <span *ngIf="!user.organization && submitted" class="error-message">*Organization Name is required</span>
      <input id="organization" [(ngModel)]="user.organization" [ngClass]="{'error-input': !user.organization && submitted || message === 'Unknown organization-id'}" type="text" placeholder="Organization Name">

      <label for="organizationId">Organization ID</label>
      <span *ngIf="!user.organizationId && submitted" class="error-message">*Organization ID is required</span>
      <span *ngIf="inValidOrgId && submitted" class="error-message">*Unknown organization-id</span>
      <input id="organizationId" [(ngModel)]="user.organizationId" [ngClass]="{'error-input': !user.organizationId && submitted || inValidOrgId && submitted}" type="text" placeholder="Organization ID">

      <label for="designation">Designation</label>
      <span *ngIf="!user.designation && submitted" class="error-message">*Designation is required</span>
      <select id="designation" [(ngModel)]="user.designation" [ngClass]="{'error-input': !user.designation && submitted}">
        <option value="" disabled>Select a designation</option>
        <option *ngFor="let designation of designations" [value]="designation">{{ designation }}</option>
      </select>

      <label for="birthDate">Birth Date</label>
      <input id="birthDate" [(ngModel)]="user.birthDate" type="date">

      <div class="inline-fields">
        <div>
          <label for="city">City</label>
          <input id="city" [(ngModel)]="user.city" type="text" class="small-input">
        </div>
        <div class="pincode-container">
          <label for="pincode">Pincode</label>
          <div class="error-messages">
            <span *ngIf="!user.pincode && submitted" class="error-message">*required</span>
            <span *ngIf="!isPincodeValid && user.pincode.length > 0" class="error-message">*Invalid pincode</span>
          </div>
          <input id="pincode" [(ngModel)]="user.pincode" (ngModelChange)="validatePincode()" type="text" class="small-input" maxlength="6" pattern="\d*">
        </div>
        
      </div>
    </div>

    <div class="step2-footer">
      <button (click)="nextStep()" class="continue-button">Next</button>
    </div>
  </div>

  <p>{{ message }}</p>
</div>
