<!-- src/app/dashboard/dashboard.component.html -->
<div class="success-container">
    <!-- Round Image -->
    <div class="round-image-container">
      <img src="images/green-tick.png" alt="Success Image">
    </div>
  
    <!-- Welcome Text -->
    <div class="welcome-text">
        Logging you in....
    </div>
  
    <!-- Redirecting Text -->
    <div class="redirecting-text">
        Kindly wait as we are curating the data accordingly.
    </div>

    <!-- Logout Button -->
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
  